<div class="ws-home">
    <h2>Interview assingment</h2>
    <p>Warehouse system</p>
    <p>We would like you to build a warehouse system,
    The system support unique code for each product, the code should be in this
    form
    First part 2-4 letter uppercase and then space
    Second part 4-6 digits
    For example:
    [MYTZ 123456 / MY 3247]</p>
    <p>There are 3 floors and 3 sections in each floor (This can be changed in the
    future), each item can be in only one location.</p>
    <p>Please implement
    1.A way to add product, which include code, quantity, floor, and section.
    2.List of all products with quantity, and location (which contains floor / section)
    3.And filters that include input to search by code, floors and sections.
    4.A way to update the items (the product code cannot be updated)
    5.Validation for the inputs</p>
    <p>Please use angular.
    Please do not use any CSS framework.
    There is no need to write Backend, it is enough to implement a service that
    simulates the calls to the backend.</p>
    <p>Feel free to make a new creative design/ something similar to other site/
    something similar to the design you can find on our website.</p>
    <p>You can also use a simple design on second page and try to improve it with the
    part that do not exists in the design</p>
</div>